/* Universals Styles */

html {
  font-family: "Raleway", "Source Serif Pro","Bitter", sans-serif;
  font-size: 16px;
  line-height: 1.75rem;
}

body {
  line-height: 1.4;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  background-color: white;
}

nav {
  padding-right: 1rem;
}

h2 {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  margin: 2rem 0rem;
  text-shadow: 0.8px 0.8px white;
  text-align: center;
  color: white;
}

h3 {
  font-size: 2.55rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  padding-top: 0.3rem;
  letter-spacing: 0.083125rem;
  font-family: 'Raleway', sans-serif;
  color: #383838 ;
}

h4 {
  font-size: 1.5rem;
  font-family: "Source Serif Pro", sans-serif;
  text-align: center;
  padding-top: 1rem;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 0rem 0.5rem;
  font-family: 'Bitter', serif;
  text-align: left;
}
p {
  font-family: 'Bitter', sans-serif;
  font-size: 0.9rem;
  margin: 0.43rem 0rem;
  line-height: 1.15rem;
  letter-spacing: 0.0125rem;
  color: #383838;
}

nav a{
  padding: 0rem 0.5rem;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

footer {
	background-color: black;
	padding: 1rem 0.5rem;
  align-items: center;
}

footer a {
	padding-right: 0.5rem;
}


/* Classes */

.padding {
  padding: 0.8rem 0rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

span.h4 {
  font-family: 'Bitter', serif;
	font-weight: bold;
	font-size: 1rem;
	color: #02192d;
}

span.quote {
	font-size: 2rem;
	font-weight: 800;
	color: #0871cc;
}

p.detail {
  font-size: 1rem;
  line-height: 1.3rem;
}


.container {
  display: flex;
  align-items: center;
}

.container img {
  height: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.25rem;
  margin-top: 0rem;
  margin-bottom: -0.5625rem;

}

.container p {
  font-weight: normal;
  font-size: 1.625rem;
  color: Dimgray;
}

.logo {
  margin-left: 0.3125rem;
  width:3.5rem;
}

.container span {
  font-family: "Bitter", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: black;
}


a:hover {
  color: #00a5d8;
  transition: ease-in;
}



/* Media querie*/

@media only screen and (max-width: 700px) {
  header {
    background-color:white;
  }

  #nav-desktop {
    display: none;
  }

  #nav-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
  }

  #nav-mobile a {
    padding: 0rem 0.4rem;
  }

  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    line-height: 1.2rem;
  }
  p {
    font-size: 0.875rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.1rem;
  }

  .container {
    display: none;
  }

  #nav-mobile {
    width: 100%;
  }
  #nav-mobile img {
    height: 2.33rem;
  }
  header {
    justify-content: space-between;
    padding: 0rem 1.5rem;
  }
}

@media only screen and (max-width: 770px) {
  .banner {
    flex-direction: column;
    padding: 0;
  }

  .banner {
    width: auto;
    padding: 0;
  }

  .banner .banner-text {
    width: auto;
    padding: 1rem 0rem;
  }

  .banner img {
    width: 100%;
    margin-left: none;
    }

    div.banner {
      margin: 0;
    }

    .button {
      align-items: center;
      margin-top: 1rem;
      padding: 1rem 1rem;
      margin-left: 2rem;
    }

    h2 {
      padding-bottom: 1rem;
      align-items: center;
      font-size: 1.9rem;
      line-height: 2rem;
      margin-bottom: 9rem;
    }

  div.column-left {
      display: none;
  }

  div.box.border.active {
      display: flex;
      width: 26.95rem;
      align-items: center;
  }

  div.main-thesis.padding {
    padding: 0rem;
    margin: 0rem;
  }

  h3.title {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
    line-height: 3rem;
    padding: 1.3rem;
    background-color:rgba(189, 158, 46, 1);
  }

  div.mobile-display {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    width: 100%;
    font-family: 'Bitter', serif;
    font-size: 1.2rem;
    align-items: center;
    align-content: space-between;
  }

  #software-engineering, #computer-art, #design, #data, #business, #marketing {
    margin: 1rem;
    border: 2px solid #00BFFF;
    padding: 0.7rem;
    width: 75%;
    font-weight: bold;
  }

  /*Hidden courses area*/
  div.courses {
    padding: 0rem;
    display: none;
  }
  .courses {
    width: 8rem;
  }
  div.box.border.active {
    display: none;
  }

  div.box.border {
    display: none;
  }
  div.main-info.flex.padding {
    padding: 0rem;
    margin: 0rem;
  }
  div.mobile-display {
    padding: 0rem;
    margin: 0rem;
  }
  #video-mobile {
    display: flex;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1600px){
  #video-mobile {
    display: none;
  }
  div.mobile-display {
    display: none;
  }

}
.banner {
	background-color: #00a5d8;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.banner-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  background-color:rgba(0, 0, 0, 0) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9.375rem;
}

.banner img {
  width: 100%;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.banner-img {
  height: 100%;
  width: 100%;
}

.column-left {
	display: flex;
	flex-direction: column;
	width: 57%;
	padding: 0 1.5%;
}

.column-left img {
	max-width: 100%;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.column-left .content {
	margin-top: 2rem;
}

.column-right {
	display: flex;
	flex-direction: column;
	width: 39.9%;
	}

.column-right .content {
	width: 95%;
}

.column-right.center {
	justify-content: center;
}

.info {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: white;
}

/*Button*/
.button {
  background: none;
  border: 1px solid white;
  font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	width: 21rem;
  height: 2.5rem;
	text-decoration: none;
  text-align: center;
  align-items: center;
  margin-left: 4rem;
  color: white;
  padding-top: 0.3125rem;
}

.button:hover {
  color: white;
  background: #FF8C00;
  transition-duration: 300ms;
}

.button:active {
	position: center;
	top:0px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.box .image{
	width:35%;
	padding: 1rem;
}

.box img{
	max-width: 100%;
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}

.box img:hover{
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}

.image .mobile{
	display: none;
}

.box .content{
	width: 65%;
	padding-left: 1rem;
}

.detail{
	padding: 0.5rem 0;
}

.box .content a{
	color: #6495ED;
}

.box.active{
	background-color: #e8e5e5;
}
.box:hover{
	background-color: #d8d8d8;
}


.main-learning {
	background-color: #eaebec;
}

.title {
	text-align: center;
	padding-bottom: 0.8rem;
}

h3.title {
  background-color: #eaebec;
  margin: 0rem;
  padding-top: 2rem;
}

.courses {
	display: flex;
	padding: 0 3.5rem 2rem 3.5rem;
	flex-wrap: wrap;
}

.courses-mobile {
	display: none;
}

.courses .box {
	flex-direction: column;
	width: 30%;
	justify-content: flex-start;
	color: #4a4a4a;
	background-color: #ffffff;
	margin-left: 2rem;
	margin-top: 1rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

.content {
	padding: 1rem 2rem 2rem 1rem;
}

.thesis {
  padding-top: 1rem;
}

footer.flex {
	justify-content: space-around;
}
/* Id */

#nav-mobile {
  display: none;
}

#nav-mobile img {
  opacity: 0.55;
}
#icon-nav {
  display: none;
}

#icon-nav img {
  opacity: 0.55;
}
